/* FRONT-END Web~Fobiya WEB__MASTER*/
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaDemiC/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaDemiC/FuturaDemiC.woff") format("woff"), url("../fonts/FuturaDemiC/FuturaDemiC.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaFuturisLightC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaFuturisLightC/FuturaFuturisLightC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaFuturisLightC/FuturaFuturisLightC.woff") format("woff"), url("../fonts/FuturaFuturisLightC/FuturaFuturisLightC.ttf") format("truetype"); }

@font-face {
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/FuturaMediumC/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaMediumC/FuturaMediumC.woff") format("woff"), url("../fonts/FuturaMediumC/FuturaMediumC.ttf") format("truetype"); }

/* FRONT-END Web~Fobiya WEB__MASTER*/
